/*FONTS*/
@font-face 
{
    font-family: titilliumweb_regular;
    src: url(../fonts/TitilliumWeb-Regular.ttf);
}
@font-face 
{
    font-family: titilliumweb_bold;
    src: url(../fonts/TitilliumWeb-Bold.ttf);
}
@font-face 
{
    font-family: titilliumweb_semibold;
    src: url(../fonts/TitilliumWeb-SemiBold.ttf);
}
@font-face 
{
    font-family: titilliumweb_light;
    src: url(../fonts/TitilliumWeb-Light.ttf);
}
/* ---------------------------------------------------
   Header
----------------------------------------------------- */
.top_nav 
{
		background-color: #1e9bd7;
		padding: 0 1% !important;
}
.top_nav > ul > li
{
	float: left;
}
.top_nav ul .active > a
{
 	background-color: #fff !important;
 	color: #1e9bd7 !important;
 	padding: 1px;
}
.top_nav ul  > li > a
{
	color: #fff;
	text-decoration: none;
	padding: 0 8px;
	font-family: titilliumweb_regular;
}

.top_nav ul > li > .nav_border
{
  border-right: 1px solid  #fff;
  padding: 5px 10px;
}
.nav_bar_social_icon
{
	float: left;
	padding: 0;
}
.nav_bar_right
{
	float: right;
	
}
.nav_bar_right a
{
	padding: 5px;
}
.nav_bar_social_icon li
{
	list-style-type: none;
	float: left;
	margin-left: 5px;
	margin-top: 8px;
}
.nav_bar_right li
{
	list-style-type: none;
	float: left;
	margin-left: 5px;
	margin-top: 11px;
}
/*.nav_last_list ul  > li > a
{
	color: #000 !important;
	background-color: none !important;
}*/
ol, ul
{
    margin:0;
}
.inner_nav .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:0;
}
.inner_nav ul  > li > a
{
	color: #55565a !important;
}
.social_icon i {
    color: #1e9bd7 !important;
    background-color: #fff;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 6px;
    border-radius: 12px;
    }
.inner_nav .navbar-default
{
	border:0;
	background-color:#fff;
}
.inner_nav ul.navbar-nav 
{
	margin-top: 85px;
	float: right;
}
.inner_nav ul > li > a
{
	border-right: 1px solid  #bcbcbe;
	padding: 0px 15px;
}
.inner_nav ul > li:last-child > a
{
	border-right: 0;
	
}
.inner_nav ul.navbar-nav  > li > a
{
	color: #1e9bd7 !important;
	font-family: titilliumweb_regular;
}

/* ---------------------------------------------------
    Footer
----------------------------------------------------- */
footer
{
	background-color: #1e9bd7;
	padding: 10px;
	color: #fff;
	min-height: 46px;
	bottom:0;
	transition: width 0.3s;
}
footer p
{
	float:left;
	margin: 0;
	padding: 0;
}
footer img
{
	float: right;
	margin: 0;
	padding: 0;
}

/* ---------------------------------------------------
    Index
----------------------------------------------------- */
.clear_both
{
   clear:both;
}
.content_holder
{
	max-width:1030px;
	margin:0 auto;
}
/*Slider*/
.home_slide .carousel-control .left
{
	background: #1e9bd7;
	padding: 0 10px !important;
}

.home_slide .carousel-control .right
{
	background: #1e9bd7; 
	padding: 0 10px !important;  
}
.home_slide .carousel-control
{
	width:0 !important;
	top:unset !important;
	font-size: 40px !important;
	left: unset !important;
	right: 100px !important;
}
.carousel-control.right
{
	right:48px !important;
}
.home_slide .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 280px;
}
.home_slide .carousel-caption p
{
	font-size: 38px !important;
	font-family: titilliumweb_bold;
}
.home_block_one_inner_one,.home_block_three_inner_one,.home_block_four_inner_one,.home_block_five_inner_one,.home_block_six_inner_one
{
	width:50%;
	float: left;
	padding-right:15px;
}
.home_block_one_inner_two, .home_block_three_inner_two,.home_block_four_inner_two,.home_block_five_inner_two,.home_block_six_inner_two
{
	width:50%;
	float: right;
	padding-left:15px;
}
.home_block_one_inner_two h2, .home_block_three_inner_one h2, .home_block_five_inner_one h2, .home_block_seven h2
{
	color:#1e9bd7;
	font-size:36px;
	font-family: titilliumweb_semibold;
}
.home_block_one_inner_two p, .home_block_three_inner_one p, .home_block_five_inner_one p, .objective_P p
{
	color: #656669;
	font-size:18px;
	font-family: titilliumweb_light;
	text-align: justify;
}
.last_child
{
	margin-bottom: 50px;
}
.mas_info
{
	color: #656669;
	font-size:20px;
	border:1px solid #656669;
	border-radius:10px;
	max-width: 42%;
    padding: 3px 30px;
    text-align: center;
    margin: auto;
    font-family: titilliumweb_regular;
}
.home_block_two
{
	background-color: #ffa400;
}
.modules
{
	padding: 55px;
}
.modules > div
{
	width:22%;
	display:inline-block;
	vertical-align:top;
	margin:0 1%;
}
.module_one
{
	background-color: #1e9bd7;
}
.module_two
{
	background-color: #b0d777;
}
.module_three
{
	background-color: #69c0bb;
}
.module_four
{
	background-color: #686666;
}
.module_inner
{
	padding: 15px;
}
.module_inner h4
{
	font-size: 24px;
	color: #fff;
	text-align: center;
	font-family: titilliumweb_regular;
}
.module_inner p
{
	font-size: 16.2px;
	color: #fff;
	text-align: left;
	font-family: titilliumweb_regular;
}
.module_mas_info {
    border: 1px solid #fff;
    background-color: #fff;
    color: #656669 !important;
    border-radius: 4px;
    text-align: center !important;
}
.modules p span
{
	float: right;
}
.inner_hr
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.home_block_three,.home_block_five, .home_block_one, .home_block_six, .home_block_four
{
	padding:50px 0;
}
.home_block_four
{
	background-color: #1e9bd7;
}
.home_block_four_inner_one img
{
	margin-left: -85px;
}
.home_block_six
{
	background-color: #32a48e;
}
.home_block_four_inner_two h2, .home_block_six_inner_two h2 , .modules h2
{
	color:#fff;
	font-size:36px;
	font-family: titilliumweb_semibold;
}
.home_block_four_inner_two p, .home_block_six_inner_two p
{
 font-size:18px;
 color:#1b3344;
 font-family: titilliumweb_light;
text-align: justify;
}
.home_block_four_inner_two .mas_info, .home_block_six_inner_two .mas_info
{
	color:#fff;
	border:1px solid #fff;
}
.home_block_one_inner_one img, .home_block_three_inner_two img, .home_block_four_inner_one img,.home_block_five_inner_two img,.home_block_six_inner_one img
{
	padding-top:50px;
}
.home_block_seven h2
{
 text-align: center;
 padding: 20px;
}
.home_block_seven label, input
{
	font-family: titilliumweb_regular;
	font-size: 18px;
	font-weight: normal;
}
.enviar_button
{
  width:30%;
  background-color: #1e9bd7;
  height:30px;
  font-size: 18px;
  color: #fff;
  border: 0;
  margin-bottom: 30px;
  float: right;
  font-family: titilliumweb_semibold;
}
.home_block_seven input
{
	border:1px solid #1e9bd7;
	border-radius:0;
}
.home_block_seven textarea
{
	border:1px solid #1e9bd7 !important;
	border-radius:0 !important;
}

/* ---------------------------------------------------
    Home
----------------------------------------------------- */
.block_topic h2
{
	font-size: 48px;
	color: #1e9bd7;
	text-align: center;
	padding-top: 5px;
	font-family: titilliumweb_semibold;
}
.first_layer
{
	padding-top:30px;
}
.second_layer
{
	padding-top:0 !important;
}
/* ---------------------------------------------------
    Dashboard
----------------------------------------------------- */

    
/* Set gray background color and 100% height */
.page_bgcolor
{
	
 	background-color: #d9dcd7;
		padding-bottom: 5%;
		padding-top:5%;
}
.sidenav 
{
  height: 100%;
  padding-left: 0;
  padding-right:0;
}
.logo_dashboard
{
  padding: 30px 0;
  background-color: #fff;
  padding-right: 21.6%;
}
.sidenav_first
{
  background-color: #4e4f53;
}
.sidenav .sidenav_first > li
{
  /*box-shadow: 1px 1px #000;*/
 }
	.sidenav .sidenav_first .active > a
{
  background-color: #1e9bd7;
	}
 .sidenav .sidenav_first > li a
 {
 	color: #fff;
 	border-radius:0;
 	text-align: right;
 	
     }
      .sidenav .sidenav_first > li a:hover
     {
     	color: #fff;
     	background-color: #1e9bd7;
     	border-radius:0;
     }
     .sidenav_second ul.nav_bar_right >li a
     {
     	color: #fff
     	background-color:#bab9ba !imp;
     }
       .sidenav .sidenav_second > li a
     {
     	color: #fff;
     	background-color: #bab9ba;
     }
     .sidenav .sidenav_second > li a:hover
     {
     	 background-color: #1e9bd7;
     	 text-decoration: none;
     }
     .sidenav_second
     {
     	background-color: #fff;
		padding-right: 4%;
		padding-left: 61.5%;
		padding-bottom: 4%;
		padding-top: 4%;
     }
     .sidenav_bottom img
     {
     	min-width: 100%;
		padding: 15px 0;
		max-width: 100%;
     }
     .dash_board_slider, .login_slider
     {
     	border: 25px solid #fff;
     }

 /* Set black background color, white text and some padding */
.footer_dashboard {
  background-color: #fff;
  color: #656669;
 
}
.footer_bottom
{
	padding-left: 0;
    padding-right:0;
}
.home_slide .carousel-caption h4 
{
 font-size: 18px !important;
}
.menu_hr
{
	border: 1px solid #1e9bd7;
}

/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 992px) 
{
	.mas_info
	{
		max-width: 100%;
	}
	.inner_nav ul > li > a
	{
		border-right: 0;
	}
	
	.home_block_one_inner_one,.home_block_three_inner_one,.home_block_four_inner_one,.home_block_five_inner_one,.home_block_six_inner_one
	{
		width:100%;
		float: none;
		padding: 10px;
	}
  .home_block_one_inner_two, .home_block_three_inner_two,.home_block_four_inner_two,.home_block_five_inner_two,.home_block_six_inner_two, .objective_P
	{
		width:100%;
		float: none;
		padding: 10px;
	}
	.home_block_six_inner_one img
	{/*
		width:100px;
		height: 100px;*/
	}
	.home_block_one_inner_one, .home_block_three_inner_two , .home_block_four_inner_one ,.home_block_five_inner_two ,.home_block_six_inner_one
	{
		text-align: center;
	}
}
@media (max-width: 768px) 
{
	/*.carousel-control.right {
	    right: 38px !important;
	}
	.home_slide .carousel-control {
	    width: 0 !important;
	    top: unset !important;
	    font-size: 25px !important;
	    left: unset !important;
	    right: 76px !important;
	}*/
	.modules > div
	{
		min-width:200px;
		margin:10px;
	}
	.inner_nav .navbar-brand
	{
		float: none;
	}
	.inner_nav .navbar-default .navbar-toggle
	{
       background-color: #fff;
       border:0;
       top: 83px;
    }
    img 
    {
    	max-width: 100%;
    }
    .home_block_four_inner_one img
	{
		margin-left:0;
	}
	.inner_nav ul.navbar-nav
	{
		margin-top:0;
	}

	.home_block_one_inner_two h2, .home_block_three_inner_one h2, .home_block_five_inner_one h2, .home_block_seven h2,.home_block_four_inner_two h2, .home_block_six_inner_two h2
	{
	 font-size:22px;
	}
	.home_block_one_inner_two p, .home_block_three_inner_one p, .home_block_five_inner_one p,.home_block_four_inner_two p, .home_block_six_inner_two, .objective_P p
	{

	font-size:12px;
	}
	.home_block_one_inner_one, .home_block_three_inner_two , .home_block_four_inner_one ,.home_block_five_inner_two ,.home_block_six_inner_one
	{
		text-align: center;
	}
}
@media (max-width: 1218px) 
{
	.home_block_four_inner_one img
	{
		margin-left:0;
	}
}
@media screen and (max-width: 767px) 
{
      .sidenav {
        height: auto;
        padding: 15px;
      }
     
    }
