<div class="page_bgcolor">
	<div class="wrapper">
    	<div class="clear_both"></div>
    	<footer class="footer_dashboard">
    	<p> &copy; 2018 Vitalsfera. Todos los derechos reservados.</p>
    	<img src="../static/img/img/footer_logo.png">
    	<div class="clear_both"></div>
    	</footer>
	</div> <!-- wrapper -->
  <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
                $('#dismiss, .overlay').on('click', function () {
                    $('#sidebar').removeClass('active');
                    $('.overlay').fadeOut();
                });
              
                // Get all the links.
                

                // On clicking of the links do something.
                
                if($(window).width() < 768) 
                {
                    var link = $("#accordion > li.has_drop > a");
                    link.on('click', function(e) 
                    {
                        e.preventDefault();
                        var a = $(this).attr("href");  
                        // var a = .attr("href");       
                        // $(a).slideDown('fast');
                           
                        $("#accordion > li").hide();
                        $(a).slideToggle('slow');
                        $(".hider").show();
                        $(this).parent().show(); 
                         $(this).hide(); 
                        $(".hider a").on('click', function(e) 
                        {
                          $("#accordion > li").show();
                          $("#accordion > li > a ").show();
                          $(".hider").hide();
                          $("#accordion ul").hide();  
                        });   
                    });
                }
                else
                {
                      var link = $("#accordion a");
                      link.on('click', function(e) {
                      e.preventDefault();

                      var a = $(this).attr("href");                    // $(a).slideDown('fast');

                      $(a).slideToggle('slow');
                      $("#accordion ul").not(a).slideUp('fast')
                  });
                }

                    // declare variable
                    var scrollTop = $(".scrollTop");

                    $(window).scroll(function() {
                      // declare variable
                      var topPos = $(this).scrollTop();

                      // if user scrolls down - show scroll to top button
                      if (topPos > 100) {
                        $(scrollTop).css("opacity", "1");

                      } else {
                        $(scrollTop).css("opacity", "0");
                      }

                    }); // scroll END

                    //Click event to scroll to top
                    $(scrollTop).click(function() {
                      $('html, body').animate({
                        scrollTop: 0
                      }, 800);
                      return false;

                    }); // click() scroll top EMD

                    // declare variable
                    var h1 = $("#h1").position();
                    var h2 = $("#h2").position();
                    var h3 = $("#h3").position();

                    $('.link1').click(function() {
                      $('html, body').animate({
                        scrollTop: h1.top
                      }, 500);
                      return false;

                    }); // left menu link2 click() scroll END

                    $('.link2').click(function() {
                      $('html, body').animate({
                        scrollTop: h2.top
                      }, 500);
                      return false;

                    }); // left menu link2 click() scroll END

                    $('.link3').click(function() {
                      $('html, body').animate({
                        scrollTop: h3.top
                      }, 500);
                      return false;

                    }); // left menu link3 click() scroll END
                $("#accordion").on('click', 'li', function () {
                $("#accordion li.active").removeClass("active");
                // adding classname 'active' to current click li 
                $(this).addClass("active");
                });
            });
  </script>
</div> <!-- page_bgcolor -->