{% load static %}
<!DOCTYPE html>
<html>
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
     VitalSfera - {% block title %}{% endblock %}
    </title>
    
      <!-- Our Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <!--   <script src="{% static 'js/main.js' %}"></script>  -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" /> -->

      <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

         <!-- <link rel="stylesheet" href="{% static 'css/webfonts/fontawesome-all.css' %}" /> -->
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

      <script src="{% static 'js/jqueryv1.12.0.js' %}"></script>
     <!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
       <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- Important Owl stylesheet -->
      <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css"> -->
      <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css" />

      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}" type="text/css" />
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/carouseller.js' %}"></script>


    
  </head>
     <body>
    
      {% if 'dashboard' in request.path %}
            {% include 'partials/dash_header.html' %}   
            {% block dashboard_content %}
            {% endblock %}
            {% include 'partials/dash_footer.html' %}
           
      {% elif 'login' in request.path or 'login_pass' in request.path or 'register' in request.path   %}
            {% include 'partials/form_header.html' %}   
            {% block formcontent %}
            {% endblock %}
            {% include 'partials/form_footer.html' %}
      {% else %}
           {% include 'partials/header.html' %}  
              {% block pagecontent %}
              {% endblock %}    
            {% include 'partials/footer.html' %}
      {% endif %}
      <!-- {{ request.path }} -->
      <!-- {{request.build_absolute_uri }} -->
      



        

    </body>
</html>
