<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    
   
    
    /* On small screens, set height to 'auto' for sidenav and grid */
  
  </style>
</head>
<body>
<div class="page_bgcolor">
  <div class="container">
    <div class="row content">
      <div class="col-sm-3 sidenav">
      <img class="logo_dashboard" src ="../static/img/img/logo.png">
      <ul class="nav nav-pills nav-stacked sidenav_first">
      <li class="active"><a href="#section1">HOME</a></li>
      <li><a href="#section2">ACTIVIDAD FISCA</a></li>
      <li><a href="#section3">EVENTOS</a></li>
      <li><a href="#section3">ACTIVIDADES</a></li>
      <li><a href="#section2">CUESTIONARIOS</a></li>
      <li><a href="#section3">SHOP</a></li>
      <li><a href="#section3">VITALIS</a></li>
      <li><a href="#section3">AYUDA</a></li>
      <li><a href="#section3">CONTACTOR</a></li>

      </ul><br>
      <ul class="nav_bar_right sidenav_second">
      <p>IDIMOS</p>
          <li class="active"><a href="#">ES</a></li>
          <li><a href="#">CA</a></li>
          <li class="nav_last_list"><a href="#">EN</a></li>
      </ul>
      <div class="sidenav_bottom">
      <img src="../static/img/img/ball_bite.png">
      </div>
      </div>

      <div class="col-sm-9">

      <div id="myCarousel" class="carousel slide home_slide dash_board_slider " data-ride="carousel">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol> -->

         <!-- Wrapper for slides -->
      <div class="carousel-inner">
      <div class="item active">
      <img src="../static/img/img/banner_header.png" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">
          <h4>“Entorno digital generador de atmósfera saludable en la empresa” Permite integrar en un solo sitio todas las actividades relacionadas con la empresa saludable. </h4>
        </div>
      </div>

      <div class="item">
      <img src="../static/img/img/banner_header.png" alt="Chicago" style="width:100%;">
      <div class="carousel-caption">
          <h4>“Entorno digital generador de atmósfera saludable en la empresa” Permite integrar en un solo sitio todas las actividades relacionadas con la empresa saludable. </h4>
      </div>
      </div>


      </div>

        <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="left"><</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="right">></span>
      </a>
      </div> <!-- home_slide -->
      <div class="nav_bar_right menu_bar">
          <li class="active"><a href="#">Orial Gifra</a></li>
          <li><a href="#"><span>4.367</span></a></li>
          <li class="nav_last_list"><a href="#"></a></li>
      </div>
      <div class="clear_both"></div>
      <hr class="menu_hr">



      </div>
      <div class="col-sm-12 footer_bottom">
        <footer class="footer_dashboard">
          <p> &copy; 2018 Vitalsfera. Todos los derechos reservados.</p>
          <img src="../static/img/img/footer_logo.png">
          <div class="clear_both"></div>
        </footer>

      </div>


    </div>
  </div>
</div>

</body>
</html>



        

