<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- boostrap cdn -->
  <!-- <link rel="stylesheet" href="../static/css/bootstrap.min.css"> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/webfonts/fontawesome-all.css" />
  <link rel="stylesheet" href="../static/css/style.css">
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">

  <script src="../static/js/jqueryv1.12.0.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/jquery.mCustomScrollbar.concat.min.js"></script>
  
</head>
<body>
<div class="page_bgcolor">


        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="side_top " id="dismiss">
                    <p>ACCEDE / REGISTRATE<span><a href=""><i class="fal fa-times"></i></a></span></p>
                </div>
                 <img class="logo_dashboard" src ="../static/img/img/logo.png">
                  
                  <div class="sidenav">                          
                          <ul class="nav nav-pills nav-stacked sidenav_first">
                              <li><a href="#section1">HOME</a></li>
                              <li><a href="#section2">ACTIVIDAD FISCA</a></li>

                              <li class="active"><a href="#section3">EVENTOS</a>
                                <ul>
                                    <li><a class="dropdown-item" href="">Etcétera (EDITAR)</a></li>
                                    <li><a class="dropdown-item" href="">MI CUENTA</a></li>
                                    <li><a class="dropdown-item" href=""> Configuracón</a></li>
                                    <li><a class="dropdown-item" href="">SALIR</a></li>
                                </ul>
                              </li>
                              <li><a href="#section3">ACTIVIDADES</a></li>
                              <li><a href="#section2">CUESTIONARIOS</a></li>
                              <li><a href="#section3">SHOP</a></li>
                              <li><a href="#section3">VITALIS</a></li>
                              <li><a href="#section3">AYUDA</a></li>
                              <li><a href="#section3">CONTACTOR</a></li>
                          </ul><br>
                          <ul class="nav_bar_right sidenav_second">
                              <p>IDIOMOS</p>
                              <div class="clear_both"></div>
                              <li class="active"><a href="#">ES</a></li>
                              <li><a href="#">CA</a></li>
                              <li class="nav_last_list"><a href="#">EN</a></li>
                          </ul>
                          <div class="sidenav_bottom">
                              <img src="../static/img/img/ball_bite.png">
                          </div>
                           <footer class="footer_sidebar">
                                <p> &copy; 2018 Vitalsfera. All rights Reserved</p>
                                <img src="../static/img/img/footlogo_mob.png">
                                <div class="clear_both"></div>
                          </footer>
                      </div> <!-- sidenav -->
                
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-align-left"></i>

                    </button>
                    <div class="db_content_logo">
                       <img  src ="../static/img/img/logo.png">
                    </div>
                    <div class=" dash_board_slider">

                        <div id="myCarousel" class="carousel slide home_slide dash_board_slider_inner " data-ride="carousel">
          
                        <div class="carousel-inner">
                            <div class="item active">
                              <img src="../static/img/img/banner_header.png" alt="Los Angeles" style="width:100%;">
                              <div class="carousel-caption">
                                  <h4>“Entorno digital generador de <br>atmósfera saludable en la empresa” <br>Permite integrar en un solo sitio todas<br> las actividades relacionadas con la<br> empresa saludable. </h4>
                                   <img src="../static/img/img/banner_logo.png">
                              </div>
                            </div>
                            <div class="item">
                              <img src="../static/img/img/banner_header.png" alt="Los Angeles" style="width:100%;">
                              <div class="carousel-caption">
                                    <h4>“Entorno digital generador de <br>atmósfera saludable en la empresa” <br>Permite integrar en un solo sitio todas<br> las actividades relacionadas con la<br> empresa saludable. </h4>
                                    <img src="../static/img/img/banner_logo.png">
                              </div>
                            </div>


                        </div> <!-- carousel-inner -->

                                      <!-- Left and right controls -->
                              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                              <span class="left"><</span>
                              </a>
                              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                              <span class="right">></span>
                              </a>
                              </div> 
                    </div> <!-- dash_board_slider -->
                    <div class="dashboard_content">
                          <ul class="menu_bar">
                            <li class="menu_right_border top"><a href="#">Orial Gifra</a></li>
                            <li><a href="#"><img src="../static/img/img/user_icon.png"></a></li>
                            <li class="top"><a href="#">4.367</a></li>

                           <li>
                                  <ul class="dropdown show">
                                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="../static/img/img/menu_icon.png">
                                      </a>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="">Etcétera (EDITAR)</a>
                                            <a class="dropdown-item" href="">MI CUENTA</a>
                                            <a class="dropdown-item" href=""> Configuracón</a>
                                            <a class="dropdown-item" href="">SALIR</a>
                                      </div>
                                    </ul>
                            </li>
                          </ul>
                           <div class="clear_both"></div>
                            <hr class="menu_hr">
                            <h2>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequa. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore.</p>
                            <div class="part_one">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate.</p>
                            <img src="../static/img/img/chart.png">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim.</p>
                            </div>
                            <div class="part_two">
                                <img src="../static/img/img/floor.png">
                            </div>
                            <div class="clear_both"></div>
                            
                </div> <!-- dashboard_content -->

            </div><!-- content -->
             <div class="clear_both"></div>
              <footer class="footer_dashboard">
                  <p> &copy; 2018 Vitalsfera. Todos los derechos reservados.</p>
                  <img src="../static/img/img/footer_logo.png">
                  <div class="clear_both"></div>
              </footer>
        </div> <!-- wrapper -->






        <!-- jQuery CDN -->
        
        <!-- jQuery Custom Scroller CDN -->
        

        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
                $('#dismiss, .overlay').on('click', function () {
                    $('#sidebar').removeClass('active');
                    $('.overlay').fadeOut();
                });

            });
        </script>
      </div> <!-- page_bgcolor -->
    </body>
</html>
