
{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% load i18n %}
{% block formcontent %}

		<div class="page_bgcolor">
			    <div class="content mid-content">
			    	<div class="">
			  			<div id="myCarousel" class="carousel slide home_slide login_slider" data-ride="carousel">
			  			<div class="form_slider">
			  				 <form class="entry_form" action="{% url 'dashboard' %}">
		                       <p>{%trans "INICIAR SESIÓN" %}</p>                    
		                        <div class="form-group">
		                          <input type="password"  class="form-control" id="formGroupExampleInput" placeholder="Contraseña">
		                        </div>		                        		                        
		                        <button type="submit" class="login_button">{%trans "INICIAR SESIÓN" %}</button>
		                        <p class="text-right"> <a class="forget_text" href="#">{%trans "¿Has Olvidado Contraseña?" %}</a></p>
		                        <label>
							      <input type="checkbox" name="remember">{%trans "Recuérdame" %}
							    </label>							    
		                      </form> 
			  			</div>				   
					         <!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="item active">
									<img src="../static/img/img/back_bg.jpg" alt="Los Angeles" style="width:100%;">
										<div class="carousel-caption">
											<p>{%trans "Genera una atmósfera saludable en la empresa" %}</p>
										</div>
								</div>

								<div class="item">
									<img src="../static/img/img/back_bg.jpg" alt="Chicago" style="width:100%;">
									<div class="carousel-caption">
											<p>{%trans "Genera una atmósfera saludable en la empresa" %}</p>
									</div>
								</div>
							</div>
					        <!-- Left and right controls -->
							<a class="left carousel-control" href="#myCarousel" data-slide="prev">
								<span class="left"><</span>
							</a>
							<a class="right carousel-control" href="#myCarousel" data-slide="next">
								<span class="right">></span>
							</a>
			  			</div> <!-- home_slide -->

			    	</div> <!-- col-12 ends -->
			    </div>
		</div>    <!-- page_background -->
  {% endblock %}	